---
issuer: http://{{ fqdn }}/dex
web:
  http: 0.0.0.0:5556
storage:
  type: sqlite3
  config:
    file: /var/lib/dex/dex.db
enablePasswordDB: true
staticClients:
  - id: "oauth2_proxy"
    redirectURIs:
      - "http://{{ fqdn }}/oauth2/callback"
    name: "OAuth Proxy"
    secret: "{{ dex_client_secret }}"
staticPasswords:
- username: "{{ team_username }}"
  email: "{{ team_email }}"
  hash: "{{ team_password_bcrypted }}"
  userID: "08a8684b-db88-4b73-90a9-3cd1661f5466"
